body  { background-color  :black;}
#txt  { float:left ;clear :left ;}
#cv   { float:left ;
        border:2px solid white;
        border-radius:4px;
        margin:10px;
}
#test { float:right;width :400px;}
.info { background-color:white;
        width:100px;
        float:left;
        height:50px;
        font-size:20px;
        font-family:"courier 10 Pitch";
        font-variant: small-caps;
        font-weight: bold;
        text-align:center;
        margin:5px;
        border-radius:4px;
}
.side { float:left;
        width:110px;
        padding:5px;
        margin:10px;
        border:2px solid white;
        border-radius:4px;
}
#play {
        width:100px;
        border-radius:4px;
        font-size:20px;
        font-family:"courier 10 Pitch";
        font-variant: small-caps;
        font-weight: bold;
        text-align:center;
        margin:5px;
}
#nxt {  margin:5px 0 0 2px;
        background-color:black;
}
/*input{width:0;height:0;border:1px solid black;}*/

